.light_blue_bg {
  background-color: #00bbf9;
}

.fucshia_bg {
  background-color: #e26ee5;
}

.pink_bg {
  background-color: #ff397e;
}

.purple_bg {
  background-color: #7e30e1;
}

@font-face {
  font-family: "GT America";
  src: url("../fonts/GT-America-Extended-Thin.woff");
  font-weight: 200;
}
@font-face {
  font-family: "GT America";
  src: url("../fonts/GT-America-Extended-Light.woff");
  font-weight: 300;
}
@font-face {
  font-family: "GT America";
  src: url("../fonts/GT-America-Extended-Bold.woff");
  font-weight: 700;
}
@font-face {
  font-family: "GT America";
  src: url("../fonts/GT-America-Extended-Black.woff");
  font-weight: 900;
}
.about-wrapper {
  background-color: rgba(29, 73, 67, 0.9725490196);
  background-image: url("../images/about/about-bg.png");
  background-repeat: repeat-y;
}
.about-wrapper .page_title {
  font-size: 100%;
}
.about-wrapper .page_title h2 {
  font-size: 18vw;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #64d87c;
  letter-spacing: -17px;
  margin-inline-start: -1vw;
  white-space: nowrap;
}
.about-wrapper .intro {
  padding: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 5rem;
}
.about-wrapper .intro__description {
  color: #64d87c;
  text-transform: uppercase;
  font-size: 2vw;
  max-width: 70%;
}
.about-wrapper .intro__description span {
  font-weight: 800;
}
.about-wrapper .intro__description:first-child {
  width: 40%;
}
.about-wrapper .intro__img {
  position: absolute;
  top: -100px;
  right: 100px;
  width: 46%;
}
.about-wrapper .video-section {
  display: flex;
  height: 80vh;
  padding: 5rem;
}
.about-wrapper .video-section__text {
  width: 50%;
  display: flex;
  align-items: center;
}
.about-wrapper .video-section__text p {
  color: #64d87c;
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 800;
}
.about-wrapper .video-section__videos {
  position: relative;
  display: flex;
  flex: 1;
}
.about-wrapper .video-section__videos .video-frame {
  position: relative;
}
.about-wrapper .video-section__videos .video-frame::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5px;
  left: 0;
  z-index: 10;
  background-image: url("../images/apple-iphone14pro-spaceblack-portrait.png");
  background-size: 100% 98%;
  transform: scale(1.036);
  background-repeat: no-repeat;
}
@media (max-width: 575.98px) {
  .about-wrapper .video-section__videos .video-frame::after {
    top: 3px;
  }
}
.about-wrapper .video-section__videos .video-frame video {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 60px;
}
@media (max-width: 575.98px) {
  .about-wrapper .video-section__videos .video-frame video {
    border-radius: 30px;
    height: 300px;
  }
}
.about-wrapper .video-section__videos .video-1,
.about-wrapper .video-section__videos .video-2 {
  position: absolute;
}
.about-wrapper .video-section__videos .video-1 {
  right: 0;
  top: -200px;
  z-index: 100;
}
.about-wrapper .video-section__videos .video-2 {
  right: 300px;
  top: 0;
}
.about-wrapper .vision-and-mission {
  padding: 5rem;
  display: flex;
  gap: 5rem;
  flex-direction: column;
}
.about-wrapper .vision-and-mission .vision,
.about-wrapper .vision-and-mission .mission {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.about-wrapper .vision-and-mission .mission .title {
  direction: rtl;
}
.about-wrapper .vision-and-mission .title,
.about-wrapper .vision-and-mission .desc {
  color: #edfd53;
  text-transform: uppercase;
}
.about-wrapper .vision-and-mission .title {
  font-weight: 800;
  font-size: 5vw;
  text-transform: uppercase;
}
.about-wrapper .vision-and-mission .desc {
  font-size: 1.5vw;
  text-align: justify;
  line-height: 1.5;
}/*# sourceMappingURL=about.css.map */