.light_blue_bg {
  background-color: #00bbf9;
}

.fucshia_bg {
  background-color: #e26ee5;
}

.pink_bg {
  background-color: #ff397e;
}

.purple_bg {
  background-color: #7e30e1;
}

@font-face {
  font-family: "GT America";
  src: url("../fonts/GT-America-Extended-Thin.woff");
  font-weight: 200;
}
@font-face {
  font-family: "GT America";
  src: url("../fonts/GT-America-Extended-Light.woff");
  font-weight: 300;
}
@font-face {
  font-family: "GT America";
  src: url("../fonts/GT-America-Extended-Medium.woff");
  font-weight: 600;
}
@font-face {
  font-family: "GT America";
  src: url("../fonts/GT-America-Extended-Bold.woff");
  font-weight: 700;
}
@font-face {
  font-family: "GT America";
  src: url("../fonts/GT-America-Extended-Black.woff");
  font-weight: 900;
}
.home-wrapper {
  background-color: #49108b;
}
.home-wrapper #statistics {
  display: flex;
  padding: 2rem 3rem;
  gap: 5vw;
}
@media (max-width: 575.98px) {
  .home-wrapper #statistics {
    flex-direction: column;
    padding-inline: 2rem;
    gap: 0;
  }
}
.home-wrapper #statistics .our-vision {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  flex: 0.7;
}
@media (max-width: 575.98px) {
  .home-wrapper #statistics .our-vision {
    width: 100%;
  }
}
.home-wrapper #statistics .our-vision__title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 6vw;
  color: #ffffff;
  line-height: 1;
}
@media (max-width: 575.98px) {
  .home-wrapper #statistics .our-vision__title {
    font-size: 1.5rem;
    text-align: center;
  }
}
.home-wrapper #statistics .our-vision__title span {
  word-break: break-all;
  font-size: 3vw;
  display: block;
}
@media (max-width: 575.98px) {
  .home-wrapper #statistics .our-vision__title span {
    font-size: 1.5rem;
  }
}
.home-wrapper #statistics .our-vision__desc {
  color: #ffffff;
  font-size: 2.5vw;
  text-transform: capitalize;
}
@media (max-width: 575.98px) {
  .home-wrapper #statistics .our-vision__desc {
    text-align: center;
  }
}
.home-wrapper #statistics .our-vision__btn {
  all: unset;
  cursor: pointer;
  color: #ff397e;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
}
@media (max-width: 575.98px) {
  .home-wrapper #statistics .our-vision__btn {
    margin: auto;
    font-size: 1rem;
  }
}
.home-wrapper #statistics .our-vision__btn:hover {
  background-color: transparent;
  border-color: white;
}
.home-wrapper #statistics .stats {
  display: flex;
  gap: 1.5rem;
  flex: 1;
  margin-top: 3.5rem;
}
@media (max-width: 575.98px) {
  .home-wrapper #statistics .stats {
    flex-direction: column;
  }
}
.home-wrapper #statistics .stats .col {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (max-width: 575.98px) {
  .home-wrapper #statistics .stats .col {
    width: 100%;
  }
}
.home-wrapper #statistics .stats .col.mt-1 {
  margin-top: 4rem;
}
@media (max-width: 575.98px) {
  .home-wrapper #statistics .stats .col.mt-1 {
    margin-top: 0;
  }
}
.home-wrapper #statistics .stats .col .state {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.7rem 1rem 1rem;
  border-radius: 14.4px;
  text-align: center;
}
.home-wrapper #statistics .stats .col .state__count {
  line-height: 1;
  text-transform: uppercase;
  font-size: 7vw;
  color: #ffffff;
  margin-top: 1rem;
}
.home-wrapper #statistics .stats .col .state__count span {
  font-weight: 700;
}
@media (max-width: 575.98px) {
  .home-wrapper #statistics .stats .col .state__count {
    font-size: 4vw;
  }
}
.home-wrapper #statistics .stats .col .state__body {
  color: #ffffff;
}
.home-wrapper #statistics .stats .col .state__img img {
  border-radius: 12px;
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.home-wrapper .why-trust {
  width: 85%;
  margin: auto;
  padding: 2rem;
}
@media (max-width: 575.98px) {
  .home-wrapper .why-trust {
    width: auto;
  }
}
.home-wrapper .why-trust__title {
  color: #ffffff;
  font-size: 10vw;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  line-height: 1;
}
.home-wrapper .why-trust__title span {
  color: #ff397e;
}
@media (max-width: 575.98px) {
  .home-wrapper .why-trust__title {
    font-size: 2rem;
  }
}
.home-wrapper .brands-slides {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  overflow: hidden;
  height: 30vh;
}
@media (max-width: 575.98px) {
  .home-wrapper .brands-slides {
    height: 20vh;
  }
}
.home-wrapper .brands-slides__top {
  padding: 2rem 0;
  position: absolute;
  background-color: #e26ee5;
  width: 110%;
  transform: skewY(3deg);
  left: -10px;
  top: 50px;
}
@media (max-width: 575.98px) {
  .home-wrapper .brands-slides__top {
    top: 30px;
    transform: skewY(7deg);
  }
}
.home-wrapper .brands-slides__bottom {
  position: absolute;
  padding: 2rem 0;
  background-color: #7e30e1;
  transform: skewY(-5deg);
  bottom: 90px;
  left: -10px;
  width: 110%;
}
@media (max-width: 575.98px) {
  .home-wrapper .brands-slides__bottom {
    bottom: 110px;
    transform: skewY(-10deg);
  }
}
.home-wrapper .brands-slides .splide__slide {
  position: relative;
  padding-inline: 1rem;
  display: flex;
}
.home-wrapper .brands-slides .splide__slide img {
  width: 100px;
}
@media (max-width: 575.98px) {
  .home-wrapper .brands-slides .splide__slide img {
    width: 70px;
  }
}
.home-wrapper .brands-slides .splide__slide:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("../images/star.png");
  background-size: cover;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 575.98px) {
  .home-wrapper .brands-slides .splide__slide:after {
    width: 15px;
    height: 15px;
    right: 0;
  }
}
.home-wrapper .steps {
  position: relative;
  overflow: hidden;
  margin-bottom: 25vw;
  pointer-events: none;
}
.home-wrapper .steps__bg {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
  background-color: #7e30e1;
  z-index: -1;
}
.home-wrapper .steps .step,
.home-wrapper .steps .step-how {
  height: 100vh;
  padding: 2rem 4rem 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
@media (max-width: 575.98px) {
  .home-wrapper .steps .step,
  .home-wrapper .steps .step-how {
    height: auto;
    padding: 3rem 2rem;
  }
}
.home-wrapper .steps .step:nth-child(even)::before,
.home-wrapper .steps .step-how:nth-child(even)::before {
  left: auto;
  right: 0;
}
.home-wrapper .steps .step:nth-child(even) p,
.home-wrapper .steps .step-how:nth-child(even) p {
  text-align: left;
  margin-inline-end: 2rem;
}
.home-wrapper .steps .step .main_title h2,
.home-wrapper .steps .step-how .main_title h2 {
  font-size: 9vw;
}
.home-wrapper .steps .step__title,
.home-wrapper .steps .step-how__title {
  position: absolute;
  padding: 1rem;
  padding-inline-start: 0;
}
@media (max-width: 575.98px) {
  .home-wrapper .steps .step__title,
  .home-wrapper .steps .step-how__title {
    text-align: center;
  }
}
.home-wrapper .steps .step__title h2, .home-wrapper .steps .step__title__large,
.home-wrapper .steps .step-how__title h2,
.home-wrapper .steps .step-how__title__large {
  font-weight: 900;
  text-transform: uppercase;
}
.home-wrapper .steps .step__title h2,
.home-wrapper .steps .step-how__title h2 {
  color: #ffffff;
  font-size: 4vw;
}
.home-wrapper .steps .step__title h2:nth-child(even),
.home-wrapper .steps .step-how__title h2:nth-child(even) {
  text-align: end;
}
@media (max-width: 575.98px) {
  .home-wrapper .steps .step__title h2,
  .home-wrapper .steps .step-how__title h2 {
    font-size: 1rem;
  }
}
.home-wrapper .steps .step__title__large,
.home-wrapper .steps .step-how__title__large {
  font-size: 8vw;
  color: #ffffff;
  margin-inline-start: 4rem;
}
.home-wrapper .steps .step__title__large:nth-child(even),
.home-wrapper .steps .step-how__title__large:nth-child(even) {
  margin: 0;
}
@media (max-width: 575.98px) {
  .home-wrapper .steps .step__title__large,
  .home-wrapper .steps .step-how__title__large {
    font-size: 1.5rem;
    margin-inline-start: 0;
  }
}
.home-wrapper .steps .step__title.title-4,
.home-wrapper .steps .step-how__title.title-4 {
  text-align: center;
}
.home-wrapper .steps .step__title.title-4 .step__title__large,
.home-wrapper .steps .step-how__title.title-4 .step__title__large {
  margin: 0;
}
.home-wrapper .steps .step__body,
.home-wrapper .steps .step-how__body {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex: 1;
}
.home-wrapper .steps .step__body__desc,
.home-wrapper .steps .step-how__body__desc {
  display: flex;
  align-items: center;
}
.home-wrapper .steps .step__body__desc p,
.home-wrapper .steps .step-how__body__desc p {
  color: #ffffff;
  font-weight: 700;
  font-size: 2vw;
  width: 40%;
}
@media (max-width: 575.98px) {
  .home-wrapper .steps .step__body__desc,
  .home-wrapper .steps .step-how__body__desc {
    display: none;
  }
}
.home-wrapper .steps .step__body #step-video,
.home-wrapper .steps .step-how__body #step-video {
  position: relative;
  width: 55%;
}
.home-wrapper .steps .step__body__img video,
.home-wrapper .steps .step-how__body__img video {
  border-radius: 24px;
  width: 100%;
}
.home-wrapper .testimonials .main_title h2 {
  color: #ffffff;
}
.home-wrapper .testimonials__list .testimonial__body__desc::before {
  background-image: url("../images/about/dark-quote.png");
}
.home-wrapper .testimonials__list .testimonial__body__author::after {
  background-image: url("../images/about/dark-quote.png");
}
.home-wrapper .projects {
  padding: 4rem 0;
  position: relative;
}
@media (max-width: 575.98px) {
  .home-wrapper .projects {
    padding-inline: 0;
  }
}
.home-wrapper .projects .main_title {
  width: 100%;
  margin-bottom: 5rem;
}
.home-wrapper .projects .main_title h2 {
  font-size: 16vw;
  color: #7e30e1;
  font-weight: 900;
  line-height: 0.8;
}
.home-wrapper .projects .main_title h2 span {
  font-size: 18vw;
}
.home-wrapper .projects .splide__slide {
  display: flex;
  align-items: center;
  background-size: contain;
}
.home-wrapper .projects .splide__slide .video-frame {
  position: relative;
}
.home-wrapper .projects .splide__slide .video-frame::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5px;
  left: 0;
  z-index: 10;
  background-image: url("../images/apple-iphone14pro-spaceblack-portrait.png");
  background-size: 100% 98%;
  transform: scale(1.036);
  background-repeat: no-repeat;
}
@media (max-width: 575.98px) {
  .home-wrapper .projects .splide__slide .video-frame::after {
    top: 3px;
  }
}
.home-wrapper .projects .splide__slide .video-frame video {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 60px;
}
@media (max-width: 575.98px) {
  .home-wrapper .projects .splide__slide .video-frame video {
    border-radius: 30px;
    height: 300px;
  }
}
.home-wrapper .packeges {
  padding: 5rem 2.5rem;
}
@media (max-width: 575.98px) {
  .home-wrapper .packeges {
    width: 100%;
  }
}
.home-wrapper .packeges .main_title {
  margin-bottom: 5rem;
}
@media (max-width: 575.98px) {
  .home-wrapper .packeges .main_title {
    margin-bottom: 0;
  }
}
.home-wrapper .packeges .main_title h2 {
  font-size: 14vw;
  color: #ff397e;
}
.home-wrapper .packeges .packages-services {
  display: flex;
  gap: 1rem;
}
.home-wrapper .packeges .packages-services .package {
  height: -moz-fit-content;
  height: fit-content;
  width: 25%;
  background-image: url("../images/package-bg.png");
  background-size: 100% 100%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  padding: 1.5rem;
}
.home-wrapper .packeges .packages-services .package__head {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.home-wrapper .packeges .packages-services .package__head__title {
  padding-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #00dc71;
  border-bottom: 1px solid black;
}
.home-wrapper .packeges .packages-services .package__head__name, .home-wrapper .packeges .packages-services .package__head__provider {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 200;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.home-wrapper .packeges .packages-services .package__head__name {
  flex: 1;
}
.home-wrapper .packeges .packages-services .package__head__name span {
  font-weight: 600;
  font-size: 16px;
}
.home-wrapper .packeges .packages-services .package__head__provider img {
  width: 50px;
}
.home-wrapper .packeges .packages-services .package__head__provider-info {
  text-transform: uppercase;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}
.home-wrapper .packeges .packages-services .package__head__provider-info .package-count {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}
.home-wrapper .packeges .packages-services .package__head__provider-info .package-count span {
  color: #ff397e;
}
.home-wrapper .packeges .packages-services .package__head__provider-info .total {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}
.home-wrapper .packeges .packages-services .package__head__provider-info .total span {
  font-size: 1.5vw;
  font-weight: 700;
}
.home-wrapper .packeges .packages-services .package .whats-included {
  padding-bottom: 0.2rem;
}
.home-wrapper .packeges .packages-services .package .whats-included__head {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2rem;
  padding-block: 1rem;
}
.home-wrapper .packeges .packages-services .package .whats-included__head__title {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}
.home-wrapper .packeges .packages-services .package .whats-included__head .toggle-collapse {
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
}
.home-wrapper .packeges .packages-services .package .whats-included__head .toggle-collapse.rotate {
  transform: rotate(180deg);
}
.home-wrapper .packeges .packages-services .package .whats-included__body {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  display: none;
}
.home-wrapper .packeges .packages-services .package .whats-included__body__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-wrapper .packeges .packages-services .package .whats-included__body__title h4 {
  font-weight: 600;
  text-transform: uppercase;
}
.home-wrapper .packeges .packages-services .package .whats-included__body__details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 2rem;
}
.home-wrapper .packeges .packages-services .package .whats-included__body__details .detail {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
  text-transform: uppercase;
}
.home-wrapper .packeges .packages-services .package .whats-included__body__payment {
  border-top: 1px solid black;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.home-wrapper .packeges .packages-services .package .whats-included__body__payment__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-wrapper .packeges .packages-services .package .whats-included__body__payment__info p {
  font-weight: 700;
  font-size: 0.9rem;
}
.home-wrapper .packeges .packages-services .package .whats-included__body__payment__info .price {
  font-size: 1.2rem;
}
.home-wrapper .packeges .packages-services .package .whats-included__body__payment .down-payment {
  font-size: 0.8rem;
}
.home-wrapper .packeges .packages-services .package .whats-included__body__payment .down-payment span {
  font-weight: 600;
  color: #00dc71;
}
.home-wrapper .packeges .packages-services .package .qr {
  border-bottom: 1px solid black;
  padding-block: 0.5rem;
  margin-bottom: 0.2rem;
}
.home-wrapper .packeges .packages-services .package .qr img {
  width: 100%;
}
.home-wrapper .packeges .packages-services .package__footer {
  padding-top: 1rem;
  padding-inline: 0.5rem;
  border-top: 1px solid black;
}
.home-wrapper .packeges .packages-services .package__footer .get-started {
  background-color: #00dc71;
  color: #ffffff;
  border-radius: 36px;
  padding: 1rem;
  width: 100%;
  text-transform: uppercase;
  border: none;
  font-size: 1.25vw;
  font-weight: 800;
}
.home-wrapper .faq-section {
  width: 90vw;
  margin: 0 auto;
}
.home-wrapper .faq-section .main_title h2 {
  font-size: 16vw;
  color: #ff397e;
  font-weight: 900;
  line-height: 1;
  text-transform: none;
}
.home-wrapper .faq-section .main_title h2 span {
  font-size: 16rem;
}
.home-wrapper .faq-section .faq-container {
  display: flex;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 20px;
  gap: 2rem;
  margin-top: 10vh;
}
@media (max-width: 575.98px) {
  .home-wrapper .faq-section .faq-container {
    flex-direction: column;
    margin-top: 5vh;
  }
}
.home-wrapper .faq-section .faq-container .tabs {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-inline-start: 0;
}
.home-wrapper .faq-section .faq-container .tabs .tab {
  padding: 1.5rem;
  border-radius: 8px;
  background: rgba(231, 238, 236, 0.3137254902);
  color: #7e30e1;
  border: none;
  cursor: pointer;
  position: relative;
  margin-bottom: 1rem;
}
@media (max-width: 575.98px) {
  .home-wrapper .faq-section .faq-container .tabs .tab {
    padding-inline-end: 2.5rem;
    padding-inline-start: 1rem;
  }
}
.home-wrapper .faq-section .faq-container .tabs .tab.active {
  color: #ffffff;
  background-color: #7e30e1;
}
.home-wrapper .faq-section .faq-container .tabs .tab.active::before {
  content: "";
  background-image: url("../images/faq-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
.home-wrapper .faq-section .faq-container .tabs .tab:focus {
  outline: none;
  box-shadow: 0 0 0 2px #e600e6;
}
.home-wrapper .faq-section .faq-container .body {
  flex: 1;
  display: flex;
}
.home-wrapper .contactus {
  background-color: #ffffff;
  padding: 4rem 5rem;
  width: 90vw;
  border-radius: 20px;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.home-wrapper .contactus__form__title {
  color: #ff397e;
  font-size: 5vw;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.home-wrapper .contactus__form__sub-title {
  color: #ff397e;
  font-size: 1vw;
}
.home-wrapper .contactus__image {
  flex: 0.8;
}
.home-wrapper .contactus__image img {
  border-radius: 14px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-wrapper .contactus form {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  flex: 1;
}
.home-wrapper .contactus form input {
  border: 1px solid #d6ebf5;
  border-radius: 8px;
  padding: 1rem;
}
.home-wrapper .contactus form button {
  background-color: #49108b;
  color: #ffffff;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.25vw;
}
.home-wrapper .content {
  background-color: #7e30e1;
  padding: 2rem;
  border-radius: 8px;
  flex: 1;
  display: none;
  color: #ffffff;
  position: relative;
  padding-top: 5rem;
}
.home-wrapper .content::before {
  content: "";
  background-image: url("../images/faq-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 2.5vh;
  left: 2rem;
}
@media (max-width: 575.98px) {
  .home-wrapper .content {
    padding: 0;
    display: flex;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
  }
  .home-wrapper .content::before {
    left: auto;
    right: 1rem;
  }
}
.home-wrapper .content span {
  line-height: 2;
}
.home-wrapper .content img {
  width: 50px;
  height: 50px;
}
.home-wrapper .content.active-tab {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  background-color: #7e30e1;
  max-height: 1000px;
  opacity: 1;
  visibility: visible;
  margin-bottom: 1rem;
  transition: max-height 0.3s ease;
}
@media (max-width: 575.98px) {
  .home-wrapper .content.active-tab {
    padding-block: 1rem;
    padding-inline-end: 2.5rem;
    padding-inline-start: 1rem;
  }
}/*# sourceMappingURL=home.css.map */