@use './colors.scss';
.navbar {
  &__wrapper {
    &__list {
      &__btn {
        color: colors.$white;
        border: 1px solid colors.$white;
        border-radius: colors.$border_radius;
        &:hover {
          background-color: colors.$white;
        }
      }
    }
  }
}

.packages-wrapper {
  background-color: #00bbf9;
  position: relative;
  &__bg {
    position: absolute;
    pointer-events: none;
    z-index: 0;
    width: 100%;
    top: 0;
    left: 0;
    img {
      width: 100%;
    }
  }
  .hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 5rem 3rem;
    position: relative;
    z-index: 1;
    &__body {
      flex: 1;
      display: flex;
      gap: 2rem;
      align-items: flex-start;
      flex-direction: column;
      &__title {
        font-size: 13vw;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1;
        color: colors.$white;
        span {
          white-space: nowrap;
          font-size: 15vw;
        }
      }
      &__desc {
        color: colors.$white;
        font-size: 3.5vw;
        line-height: 1.3;
        max-width: 35vw;
        font-weight: 200;
      }
      &__cta {
        all: unset;
        cursor: pointer;
        color: colors.$pink;
        background-color: colors.$white;
        border-radius: 12px;
        padding: 1rem 7rem;
        border: 1px solid transparent;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 2rem;
        @media (max-width: 575.98px) {
          margin: auto;
          font-size: 1rem;
          padding: 0.5rem 2rem;
        }
        &:hover {
          background-color: transparent;
          border-color: white;
        }
      }
    }
    &__videos {
      position: relative;
      display: flex;
      flex: 1;
      justify-content: center;
      .video-frame {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 5px;
          left: 0;
          z-index: 10;
          background-image: url('../images/apple-iphone14pro-spaceblack-portrait.png');
          background-size: 100% 98%;
          transform: scale(1.036);
          background-repeat: no-repeat;
          @media (max-width: 575.98px) {
            top: 2px;
          }
        }

        video {
          object-fit: cover;
          border-radius: 60px;
          box-shadow: 0 10px 40px black;
          @media (max-width: 575.98px) {
            border-radius: 30px;
            height: 250px;
          }
        }
      }
      .video-1,
      .video-3 {
        z-index: 1;
      }
      .video-2 {
        z-index: 2;
      }
    }
  }
  .why-creator {
    width: 90%;
    margin: auto;
    border: 1px solid white;
    border-radius: 80px;
    padding: 3rem;
    &__title {
      color: colors.$white;
      text-transform: uppercase;
      font-size: 7vw;
      text-align: center;
      margin-bottom: 5rem;
    }

    &__body {
      display: flex;
      gap: 2rem;
      .video {
        display: flex;
        justify-content: center;
        flex: 1;
        .video-frame {
          position: relative;
          width: 370px;
          height: 740px;
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 5px;
            left: 0;
            z-index: 10;
            background-image: url('../images/apple-iphone14pro-spaceblack-portrait.png');
            background-size: 100% 98%;
            transform: scale(1.036);
            background-repeat: no-repeat;
            @media (max-width: 575.98px) {
              top: 2px;
            }
          }

          video {
            object-fit: cover;
            border-radius: 60px;
            box-shadow: 0 10px 40px black;
            width: 370px;
            height: 730px;
            @media (max-width: 575.98px) {
              border-radius: 30px;
              height: 250px;
            }
          }
        }
        &__cta {
          all: unset;
          cursor: pointer;
          color: colors.$pink;
          background-color: colors.$white;
          border-radius: 12px;
          padding: 1rem 5rem;
          border: 1px solid transparent;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 1.5rem;
          position: absolute;
          bottom: 7.5%;
          left: 20%;
          transform: translateX(-5%);
          z-index: 1000;
          @media (max-width: 575.98px) {
            margin: auto;
            font-size: 1rem;
            padding: 0.5rem 2rem;
          }
          &:hover {
            background-color: transparent;
            border-color: white;
          }
        }
      }
      .checkboxes {
        flex: 0.7;
        border-radius: 12px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10rem;
        &:before {
          content: '';
          position: absolute;
          left: 4px;
          height: 60%;
          border-left: 1px dashed white;
          top: 60px;
          z-index: 0;
        }
        &__item {
          list-style: none;
          padding-bottom: 1.5rem;
          position: relative;
          padding-inline-start: 50px;
          margin-left: 10px;

          &:before {
            content: '';
            width: 45px;
            height: 45px;
            background-image: url('../images/packages/Check-Circle--Streamline-Ultimate.png');
            background-size: cover;
            position: absolute;
            left: -20px;
            top: 30px;
          }

          &__title {
            color: colors.$moov;
            font-size: 5vw;

            text-transform: uppercase;
            font-weight: 600;
          }
          &__desc {
            width: 80%;
            color: colors.$white;
            font-size: 1.5rem;
            font-weight: 400;
          }
        }
      }
    }
  }

  .who-it-work {
    &__title {
      color: colors.$white;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 6vw;
      text-align: center;
    }

    &__steps {
      margin: 20rem 0 5rem;
      display: flex;
      flex-direction: column;
      gap: 5rem;
      &__step {
        display: flex;
        color: colors.$white;
        position: relative;
        justify-content: space-around;
        overflow: hidden;
        transform: skewY(-8.8deg);
        margin-top: -14%;
        &:nth-child(even) {
          flex-direction: row-reverse;
          padding-inline-end: 5rem;

          .who-it-work__steps__step__img {
            justify-content: center;
          }
        }
        &:nth-child(odd) {
          padding-inline-start: 5rem;
          &::before {
            content: '';
            position: absolute;
            top: 80%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            height: 120%;
            background-color: colors.$fucshia;
            z-index: 0;
          }
        }
        &:last-child {
          gap: 3rem;
          transform: none;
          height: 95vh;
          .who-it-work__steps__step__body {
            padding-top: 0;
            margin-top: -10rem;
          }
          .who-it-work__steps__step__body,
          .who-it-work__steps__step__img {
            transform: none;
          }
          .who-it-work__steps__step__img {
            position: relative;
            z-index: 10;
            img {
              height: 650px;
            }
          }

          .collaborate {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-image: url('../images/packages/Rectangle.png');
            background-repeat: no-repeat;
            background-position: 100% bottom;
            background-size: 100% 100%;
            z-index: 10;
            padding: 3rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            align-items: flex-start;
            &__cta {
              all: unset;
              cursor: pointer;
              color: colors.$pink;
              background-color: colors.$white;
              border-radius: 12px;
              padding: 1rem 7rem;
              border: 1px solid transparent;
              font-weight: 600;
              text-transform: uppercase;
              font-size: 2rem;
              @media (max-width: 575.98px) {
                margin: auto;
                font-size: 1rem;
                padding: 0.5rem 2rem;
              }
              &:hover {
                background-color: transparent;
                border-color: white;
              }
            }
            p {
              color: white;
              font-size: 6rem;
              font-weight: 700;
              text-transform: uppercase;
              max-width: 35%;
              line-height: 0.8;
            }
          }
        }
        &__body {
          transform: skewY(8.8deg);
          padding-top: 5rem;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 50%;
          z-index: 1;
          &__subtitle {
            font-weight: 600;
            font-size: 4vw;
          }
          &__title {
            font-weight: 700;
            font-size: 6vw;
          }
          &__desc {
            font-size: 2vw;
          }
        }
        &__img {
          position: relative;
          z-index: 0;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          transform: translateY(10%) skewY(8.8deg);

          img {
            height: 800px;
          }
        }
      }
    }
  }

  .feedback {
    padding: 5rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &__text {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      img {
        width: 100%;
      }
    }
    &__body {
      max-width: 50%;

      position: absolute;
      background-color: colors.$white;
      padding: 2rem;
      border-radius: 50px;
      border-bottom-left-radius: 0;
      display: flex;
      gap: 1rem;
      &__image {
        img {
          border-radius: 50%;
          width: 80px;
          height: 80px;
        }
      }
      &__feedback {
        font-size: 3rem;
        color: colors.$moov;
      }
    }
  }
}
